
<html>  
<head>  
	<meta charset="utf-8">  
	<title>让图表动起来</title>  
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>  
    <script src="http://code.jquery.com/jquery-latest.js"></script>  
	<script>
    function showpie()
    {
    // 添加http内容分布饼状图
    dataset = new Array();
    piename = new Array();
    $.ajaxSettings.async = false;
    $.getJSON("http://localhost:8080/api/content/", function(piejson){
        for(var i=0;i<piejson.data.length;i++){
            dataset[i] = piejson.data[i].count;
            piename[i] = piejson.data[i].type;
        }
    });	
        var width = 400;
		var height = 400;
		var svg = d3.select("body")
					.append("svg")
					.attr("width", width)
					.attr("height", height);
		
		var pie = d3.layout.pie();

		var piedata = pie(dataset);
		var outerRadius = 150;	//外半径
		var innerRadius = 0;	//内半径，为0则中间没有空白

		var arc = d3.svg.arc()	//弧生成器
					.innerRadius(innerRadius)	//设置内半径
					.outerRadius(outerRadius);	//设置外半径
		
		var color = d3.scale.category10();
		
		var arcs = svg.selectAll("g")
					  .data(piedata)
					  .enter()
					  .append("g")
					  .attr("transform","translate("+ (width/2) +","+ (width/2) +")");
					  
		arcs.append("path")
			.attr("fill",function(d,i){
				return color(i);
			})
			.attr("d",function(d){
				return arc(d);
			});
		
		arcs.append("text")
			.attr("transform",function(d){
				return "translate(" + arc.centroid(d) + ")";
			})
			.attr("text-anchor","middle")
			.text(function(d,i){
				return piename[i] + ' ' + d.data;
			});
    }
    function display(type){
    if(type != "http")
    {
        document.getElementById("httpbtn").style.display="none";
    }
	//画布大小
	var width = 1200;
	var height = 400;

	//在 body 里添加一个 SVG 画布	
	var svg = d3.select("body")
		.append("svg")
		.attr("width", width)
		.attr("height", height);

	//画布周边的空白
	var padding = {left:60, right:30, top:20, bottom:20};
    
    var dataset;
	//定义一个数组 getpiejsoN不是同步的，要保证数据正常显示，得用同步方式获取数据才能正确反馈。
    $.ajaxSettings.async = false;
     $.getJSON("http://localhost:8080/api/time/?type="+type, function(hisjson){
        dataset = hisjson ;
    });	
	//x轴的比例尺
	var xScale = d3.scale.ordinal()
		.domain(d3.range(dataset.length))
		.rangeRoundBands([0, width - padding.left - padding.right]);

	//y轴的比例尺
	var yScale = d3.scale.linear()
		.domain([0,d3.max(dataset)])
		.range([height - padding.top - padding.bottom, 0])
    
	//定义x轴
	var xAxis = d3.svg.axis()
		.scale(xScale)
		.orient("bottom")
		
	//定义y轴
	var yAxis = d3.svg.axis()
		.scale(yScale)
		.orient("left");

	//矩形之间的空白
	var rectPadding = 4;

	//添加矩形元素
	var rects = svg.selectAll(".MyRect")
		.data(dataset)
		.enter()
		.append("rect")
		.attr("class","MyRect")
		.attr("transform","translate(" + padding.left + "," + padding.top + ")")
		.attr("x", function(d,i){
			return xScale(i) + rectPadding/2;
		} )
		.attr("width", xScale.rangeBand() - rectPadding )
		.attr("y",function(d){
			var min = yScale.domain()[0];
			return yScale(min);
		})
		.attr("height", function(d){
			return 0;
		})
		.transition()
		.delay(function(d,i){
			return i * 80;
		})
		.duration(800)
		.ease("bounce")
		.attr("y",function(d){
			return yScale(d);
		})
		.attr("height", function(d){
			return height - padding.top - padding.bottom - yScale(d);
		});

	//添加文字元素
	var texts = svg.selectAll(".MyText")
		.data(dataset)
		.enter()
		.append("text")
		.attr("class","MyText")
		.attr("transform","translate(" + padding.left + "," + padding.top + ")")
		.attr("x", function(d,i){
			return xScale(i) + rectPadding/2;
		} )
		.attr("dx",function(){
			return (xScale.rangeBand() - rectPadding)/2;
		})
		.attr("dy",function(d){
			return 20;
		})
		.text(function(d){
			return d;
		})
		.attr("y",function(d){
			var min = yScale.domain()[0];
			return yScale(min);
		})
		.transition()
		.delay(function(d,i){
			return i * 200;
		})
		.duration(2000)
		.ease("bounce")
		.attr("y",function(d){
			return yScale(d);
		});

	//添加x轴
	svg.append("g")
		.attr("class","axis")
        .call(xAxis) 
		.attr("transform","translate(" + padding.left + "," + (height - padding.bottom) + ")")
        .append("text")  
        .text("时间/小时分布")  
        .attr("transform","translate("+(width - 180)+",-40)");
        
	//添加y轴
	svg.append("g")
		.attr("class","axis")
		.attr("transform","translate(" + padding.left + "," + padding.top + ")")
		.call(yAxis)
        .append("text")  
        .text("HTTP包")  
        .attr("transform","translate(15,"+ padding.top +")");
           
}
</script>
<style>
	.axis path,
	.axis line{
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}

	.MyRect {
		fill: steelblue;
	}

	.MyText {
		fill: white;
		text-anchor: middle;
	}
</style>
</head> 

<body onload="display('http');showpie()">  
<button onclick="display('all')"  id="httpbtn">Display All</button>

</body>  
</html>  